body{
  background-image: url(../images/img-mission-background.jpg);
  background-size: 1200px 800px;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  font-family: Helvetica;
  background-color: black;
}

.logo{
  
  background-color: black;
  size: 50px;
  opacity: 0.9;
}
header{
  background-color:  black;
  border-bottom: 1px solid seashell;
  size: 1200px 100px;
  
  
}
.top-text{
 
  opacity: 0.9;
  text-decoration: underline;
  display: inline;
  text-align: right;
}
#mission{
  background-color: black;
  text-align: center;
  margin-top: 200px;
  
  
}



